{{ form_start(form, { 'method': 'get' }) }}
<div class="search-box clearfix">
    <div class="common-search-form clearfix">
        {{ form_widget(form.title) }}
        <input type="submit" value="検索" class="btn-s">
    </div>
</div>
{{ form_end(form) }}